name: Security

on:
  push:

permissions:
  contents: read
  actions: read

jobs:
  audit:
    name: Audit

    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Run Audit
        run: |
          npm audit --audit-level high
